/* Resetting margin and padding for all elements */
* {
    margin: 0;
    padding: 0;
}

/* Styling for the body */
body {
    font-family: Meiryo, Verdana, Helvetica, Arial, sans-serif; /* Default font style */
    font-size: 16px;
    margin: 0;
    padding: 0;
}

/* Styling for images */
img {
    object-fit: contain; /* Ensure images maintain aspect ratio */
    width: 100%; /* Make images responsive */
    height: auto; /* Ensure images scale proportionally */
}

/* Styling for hotel logo, name, and tagline */
#logo {
    width: 90px; /* Set the width of the logo */
    float: left; /* Float the logo to the left */
    padding-top: 12px; /* Add padding to the top of the logo */
    padding-left: 80px; /* Add padding to the left of the logo */
}

header a:hover {
    opacity: 0.7; /* Reduce opacity on hover for better visual feedback */
}

#title {
    float: left; /* Float the title to the left */
    font-weight: bold; /* Apply bold font weight to the title */
    color: #fff; /* Set text color to white */
    padding-top: 30px; /* Add padding to the top of the title */
    padding-left: 20px; /* Add padding to the left of the title */
    text-align: center; /* Center-align the title text */
}

#title h2 {
    font-size: 16px; /* Set font size for the title */
}

#title p {
    font-size: 10px; /* Set font size for the tagline */
}

/* Styling for the navigation */
header {
    position: fixed; /* Fix the header position */
    width: 100%; /* Set the width of the header to 100% */
    top: 0; /* Position the header at the top of the viewport */
    z-index: 10000; /* Set a high z-index to ensure header appears above other content */
    overflow: hidden; /* Hide any overflowing content */
    background-color:  #192f60; /* Set background color for the header */
}

header ul {
    background-color:  #192f60; /* Set background color for the navigation */
    width: 70%; /* Set width for the navigation */
    float: right; /* Float the navigation to the right */
}

header li {
    list-style: none; /* Remove default list styling */
    float: left; /* Float list items horizontally */
    text-align: center; /* Center-align list items */
    width: 24%; /* Set width for individual list items */
}

header li a {
    font-family: Lato; /* Specify font family for navigation links */
    text-decoration: none; /* Remove underline from navigation links */
    text-align: center; /* Center-align navigation links */
    font-size: 15px; /* Set font size for navigation links */
    font-weight: bold; /* Apply bold font weight to navigation links */
    width: 100%; /* Set width for navigation links */
    display: inline-block; /* Display navigation links as inline-block elements */
    padding-top: 45px; /* Add padding to the top of navigation links */
    padding-bottom: 45px; /* Add padding to the bottom of navigation links */
    color: #fff; /* Set text color for navigation links to white */
    letter-spacing: 0.3em; /* Add letter spacing to navigation links */
}

header li a:hover {
    opacity: 0.8; /* Reduce opacity on hover for better visual feedback */
    color: #fff462; /* Change text color on hover */
}

/* Styling for the index.html */

/* Bxslider in the top page */
#bxslider {
    margin-top: 80px; /* Add margin to the top of the bxslider */
}

.bx-viewport {
    height: auto !important; /* Set height of bxslider viewport to auto */
}

/* Main content */
#wrapper {
    margin: auto; /* Center-align main content */
}

.introduction {
    overflow: hidden; /* Hide overflowing content */
    background-color:  #eaf2f8; /* Set background color for introduction */
    font-family: Lora; /* Specify font family for introduction text */
    font-size: 20px; /* Set font size for introduction text */
    text-align: center; /* Center-align introduction text */
    padding: 100px 80px; /* Add padding to the introduction */
}

.introduction .left_content {
    float: left; /* Float the left content to the left */
    width: 40%; /* Set width for the left content */
}

.introduction .left_top_content {
    line-height: 3; /* Set line height for the top content */
}

.introduction .left_bottom_content {
    font-size: 36px; /* Set font size for the bottom content */
    text-align: center; /* Center-align the bottom content */
    font-weight: bold; /* Apply bold font weight to the bottom content */
    margin-top: 35px; /* Add margin to the top of the bottom content */
}

.introduction .right_content {
    float: right; /* Float the right content to the right */
    width: 40%; /* Set width for the right content */
    text-align: center; /* Center-align the right content */
    line-height: 3; /* Set line height for the right content */
}

#room_intro {
    display: flex; /* Use flexbox for room introduction */
    justify-content: center; /* Center-align items */
    gap: 25px; /* Set gap between items */
}

.room_container {
    position: relative; /* Set position to relative for room containers */
    width: 30%; /* Set width for room containers */
    margin-top: 60px; /* Add margin to the top of room containers */
    margin-bottom: 60px; /* Add margin to the bottom of room containers */
}

.room_container img {
    width: 100%; /* Set width of images to 100% */
    height: auto; /* Ensure images maintain aspect ratio */
    display: block; /* Display images as block elements */
}

.room_container p {
    position: absolute; /* Set position to absolute for room text */
    top: 60%; /* Position room text at 60% from the top */
    left: 30%; /* Position room text at 30% from the left */
    font-size: 35px; /* Set font size for room text */
    font-weight: bold; /* Apply bold font weight to room text */
    color: #e9bc00; /* Set text color for room text */
    font-family: Bebas Neue; /* Specify font family for room text */
    text-align: center; /* Center-align room text */
}

.room_container a img:hover {
    opacity: 0.5; /* Reduce opacity on hover for better visual feedback */
    transition: 0.2s; /* Add transition effect */
}

.room_text {
    background-color: #fff462; /* Set background color for room text */
}

/* Styling for the footer */
footer {
    background-color:  #192f60; /* Set background color for the footer */
    padding: 80px 60px 20px 60px; /* Add padding to the footer */
}

#footer_info {
    color: #fff; /* Set text color for footer info */
    margin-bottom: 80px; /* Add margin to the bottom of footer info */
    display: flex; /* Use flexbox for footer info */
    justify-content: center; /* Center-align items */
    gap: 30px; /* Set gap between items */
}

#footer_info ul {
    margin: auto; /* Center-align unordered list */
    width: 300px; /* Set width for unordered list */
}

#footer_info li {
    list-style: none; /* Remove default list styling */
    padding-bottom: 20px; /* Add padding to the bottom of list items */
    font-size: 14px; /* Set font size for list items */
}

#footer_info li:first-child {
    font-size: 18px; /* Set font size for the first list item */
    font-weight: bold; /* Apply bold font weight to the first list item */
}

/* Email link */
#hotel_info li a {
    text-decoration: none; /* Remove underline from email link */
    padding-bottom: 20px; /* Add padding to the bottom of email link */
    color: #fff; /* Set text color for email link */
}

#hotel_info li a:hover {
    color: #fff462; /* Change text color on hover */
    opacity: 0.7; /* Reduce opacity on hover for better visual feedback */
}

#footer_content {
    margin-bottom: 50px; /* Add margin to the bottom of footer content */
    overflow: hidden; /* Hide overflowing content */
    width: 60%; /* Set width for footer content */
    margin: auto; /* Center-align footer content */
}

#footer_content img {
    width: 70%; /* Set width for images in footer content */
}

.text_icon_1 {
    width: 180px; /* Set width for the first text icon */
    color: #fff; /* Set text color for the first text icon */
    float: left; /* Float the first text icon to the left */
    margin-bottom: 70px; /* Add margin to the bottom of the first text icon */
}

.text_icon_2 {
    width: 180px; /* Set width for the second text icon */
    color: #fff; /* Set text color for the second text icon */
    float: right; /* Float the second text icon to the right */
}

.copyright {
    text-align: center; /* Center-align copyright text */
    font-weight: bold; /* Apply bold font weight to copyright text */
    color: #fff462; /* Set text color for copyright text */
}





/* Styling for attraction.html */

/* Background image and color for the wrapper */
#wrapper {
    background-image: url(../images/background_img.jpg); /* Background image */
    background-repeat: repeat; /* Repeat the background image */
    background-color: rgba(255, 255, 255, 0.8); /* Background color with opacity */
    background-blend-mode: lighten; /* Blend mode for the background */
}

/* Styling for the introduction section */
.intro_attraction {
    margin-top: 110px; /* Margin from the top */
    padding-top: 160px; /* Padding from the top */
    padding-bottom: 180px; /* Padding from the bottom */
}

.intro_attraction h2 {
    font-family: Montserrat; /* Font family for the heading */
    font-size: 46px; /* Font size for the heading */
    text-align: center; /* Center align the text */
    padding-bottom: 40px; /* Padding from the bottom */
    font-weight: bold; /* Bold font weight */
}

.intro_attraction p {
    text-align: center; /* Center align the text */
    font-size: 20px; /* Font size */
}

/* Styling for the text and image container */
#text_img_container, #text_img_container_2 {
    background-color: #eaf2f8; /* Background color */
    padding-top: 80px; /* Padding from the top */
    padding-bottom: 80px; /* Padding from the bottom */
    font-family: Roboto Slab; /* Font family */
}

/* Styling for the text */
#attraction_text, #attraction_text_2 {
    text-align: center; /* Center align the text */
}

#attraction_text h3, #attraction_text_2 h3 {
    font-size: 36px; /* Font size for the heading */
    margin-bottom: 60px; /* Margin from the bottom */
}

#attraction_text p, #attraction_text_2 p {
    font-size: 20px; /* Font size */
    line-height: 3; /* Line height */
    margin-bottom: 80px; /* Margin from the bottom */
}

/* Styling for the image container section */
#attraction_img, #attraction_img_2 {
    display: flex; /* Flex display */
    justify-content: center; /* Center align the content */
    gap: 60px; /* Gap between elements */
    width: 70%; /* Width */
    margin: auto; /* Center align the container */
}

/* Style for the image */
#image_container:hover, #image_container_2:hover, #image_container_3:hover, #image_container_4:hover{
	cursor: pointer; /* hover image content*/
	opacity: 0.7;
}

/* Styling for the text container */
#text-container, #text-container2, #text-container3, #text-container4 {
    display: none; /* Hide the text container by default */
    text-align: center; /* Center align the text */
    margin-top: 10px; /* Margin from the top */
    font-weight: bold; /* Bold font weight */
    font-size: 24px; /* Font size */
}



/*reservation.html*/
.reservation-page {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-direction: column;
    text-align: center;
    background-color: #ffffcc; /* Pale yellow background */
    color: #001f3f; /* Dark navy blue text */
    margin: 0; /* Remove default margin */
    font-family: 'Oswald', sans-serif; /* Apply Oswald font to the body */
    margin-top: 100px; /* Adiciona espaço mínimo de 20px entre o header e o conteúdo */
	padding-top: 20px;
	padding-bottom: 80px;
}
.hotel-title {
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); /* Apply text shadow for depth */
    color: #001f3f; /* Dark navy blue text */
    margin-top: 20px; /* Defina a quantidade de margem que deseja */

}

#formcontainer {
    background-color: #f5f5b5; /* Light shade of yellow */
    border-radius: 20px; /* Rounded corners */
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.2); /* Increased shadow effect */
    padding: 20px; /* Padding inside the container */
    max-width: 400px; /* Increase maximum width */
    width: auto; /* Set width to take up 95% of the available space */
    max-height: 300px; /* Adjust the max height as needed */
    overflow-y: auto; /* Add vertical scroll if content exceeds max height */
    margin: 20px; /* Adjusted margin */
    display: flex; /* Display children side by side */
    flex-wrap: wrap; /* Allow wrapping */
    justify-content: space-between; /* Distribute items along the main axis */
}


#formreservation select {
    width: calc(50% - 5px); /* Make each item take up half of the container width with space in between */
    display: inline-block; /* Display each item as an inline-block element */
    margin-bottom: 5px; /* Reduce space between each item */
    text-align: left; /* Align items to the left */
}
#formreservation label {
    width: 45%; /* Defina a largura da etiqueta */
    display: inline-block; /* Exiba as etiquetas como blocos de linha */
    text-align: left; /* Alinhe o texto das etiquetas à direita */
}

#formreservation input {
    width: 50%; /* Defina a largura dos campos de entrada */
    display: inline-block; /* Exiba os campos de entrada como blocos de linha */
}
#formreservation input[type="submit"] {
    width: 100%; /* Faz o botão de envio ocupar toda a largura disponível */
    display: block; /* Define o botão como um bloco para que o alinhamento funcione */
    margin: 0 auto; /* Define as margens laterais como "auto" para alinhar o botão ao centro */
}


#additionalInfo {
    flex-basis: 40%; /* Text takes up 40% of the container width */
    text-align: left; /* Align text under the form to the left */
    margin-left: 10px; /* Add some space between form and text */
}
.room-page {
    display: flex;
    justify-content: center;
    align-items: flex-start; /* Align items to the top */
    height: 100vh;
    flex-direction: column;
    text-align: center;
    background-color: #ffffcc; /* Pale yellow background */
    color: #001f3f; /* Dark navy blue text */
    margin: 0; /* Remove default margin */
    font-family: 'Oswald', sans-serif; /* Apply Oswald font to the body */
}

.room-page {
    display: flex;
    justify-content: center;
    align-items: flex-start; /* Align items to the top */
    height: auto; /* Remove fixed height */
    flex-direction: column;
    text-align: center;
    background-color: #ffffcc; /* Pale yellow background */
    color: #001f3f; /* Dark navy blue text */
    margin: 0; /* Remove default margin */
    font-family: 'Oswald', sans-serif; /* Apply Oswald font to the body */
}
.room-page {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh; /* Minimum height of the page */
    background-color: #ffffcc; /* Pale yellow background */
    color: #001f3f; /* Dark navy blue text */
    margin: 0; /* Remove default margin */
    font-family: 'Oswald', sans-serif; /* Apply Oswald font to the body */
	padding-top: 150px;
	padding-bottom: 80px;
}

.room-title {
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); /* Apply text shadow for depth */
    color: #001f3f; /* Dark navy blue text */
    margin-bottom: 20px; /* Add margin below the title */
}

#roomcontainer {
    background-color: #f5f5b5; /* Light shade of yellow */
    border-radius: 20px; /* Rounded corners */
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.2); /* Increased shadow effect */
    padding: 20px; /* Padding inside the container */
    max-width: 800px; /* Maximum width of the container */
    width: 90%; /* Set width to take up 90% of the available space */
    display: flex; /* Display children side by side */
    flex-wrap: wrap; /* Allow wrapping */
    justify-content: space-between; /* Distribute items along the main axis */
}

.room {
    width: calc(50% - 20px); /* Set width for each room, considering the margin */
    margin-bottom: 20px; /* Add margin between each room */
}

.room img {
    width: 100%; /* Make image fill the container */
    border-radius: 10px; /* Add rounded corners to the image */
}

.room-info {
    padding: 10px; /* Add padding inside the room info */
    text-align: left; /* Align text to the left */
    width: calc(50% - 20px); /* Set width for the room info, considering the margin */
}
.table-container {
    margin-top: 20px; /* Adiciona espaço entre a tabela e o contêiner */
}

table {
    margin: 0 auto;
    background-color: #f5f5b5; /* Light shade of yellow */
    /*background-color: ; /* Cor de fundo da tabela */
    border-collapse: collapse;
    width: 100%;
}

th, td {
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid #001f3f; /* Cor das bordas */
}

th {
    background-color: #f5f5b5; /* Cor de fundo do cabeçalho */
}
.standard {
    grid-column: 1 / span 2;
    text-align: center;
}

.deluxe {
    grid-column: 3 / span 2;
    text-align: center;
}

.suite {
    grid-column: 5 / span 2;
    text-align: center;
}




/* Responsive design styles for smartphone size */

@media screen and (max-width: 768px) {
    /* Styling for index.html */

    #bxslider img {
        max-width: 100%; /* Set maximum width for images in the slider */
        height: auto; /* Allow images to scale proportionally */
    }

    #logo {
        width: 75px; /* Adjust width of logo for smaller screens */
    }

    #title {
        padding-top: 25px; /* Adjust padding for title */
        padding-left: 20px; /* Adjust padding for title */
    }

    header ul {
        width: 100%; /* Make navigation list full width */
        margin: auto; /* Center-align navigation list */
    }

    header li a {
        padding-top: 20px; /* Adjust padding for navigation links */
        padding-bottom: 20px; /* Adjust padding for navigation links */
        letter-spacing: 0.1em; /* Adjust letter spacing for navigation links */
        font-size: 12px; /* Adjust font size for navigation links */
    }

    #bxslider {
        margin-top: 85px; /* Adjust margin for slider */
        height: auto; /* Allow slider height to adjust automatically */
    }

    .bx-viewport {
        height: auto !important; /* Allow viewport height to adjust automatically */
    }

    .introduction {
        padding: 60px 10px; /* Adjust padding for introduction section */
    }

    .introduction .left_content {
        float: none; /* Remove float for left content */
        width: 100%; /* Set width to 100% for left content */
        box-sizing: border-box; /* Include padding and border in the element's total width and height */
    }

    .introduction .left_bottom_content {
        margin-top: 25px; /* Adjust margin for bottom content */
    }

    .introduction .right_content {
        float: none; /* Remove float for right content */
        margin-top: 40px; /* Adjust margin for right content */
        width: 100%; /* Set width to 100% for right content */
    }

    #room_intro {
        display: block; /* Change display to block for room introduction */
        padding-top: 60px; /* Adjust padding for room introduction */
        padding-bottom: 60px; /* Adjust padding for room introduction */
    }

    .room_container {
        width: 80%; /* Set width to 80% for room containers */
        margin: auto; /* Center-align room containers */
        padding: 20px 0; /* Adjust padding for room containers */
    }

    footer {
        padding: 40px 0 20px; /* Adjust padding for footer */
    }

    #footer_info {
        display: block; /* Change display to block for footer info */
        margin-bottom: 40px; /* Adjust margin for footer info */
    }

    #footer_info ul {
        width: 250px; /* Set width for unordered list in footer info */
        margin: auto; /* Center-align unordered list in footer info */
    }

    #footer_info li:first-child {
        padding-top: 25px; /* Adjust padding for the first list item in footer info */
    }

    #footer_content {
        width: 80%; /* Set width to 80% for footer content */
    }

    .text_icon_1 {
        width: 150px; /* Set width for the first text icon */
        margin-bottom: 50px; /* Adjust margin for the first text icon */
        padding-left: 25px; /* Adjust padding for the first text icon */
    }

    .text_icon_2 {
        width: 150px; /* Set width for the second text icon */
    }

    /* Styling for attraction.html */

    .intro_attraction {
        padding-top: 120px; /* Adjust padding for introduction section */
    }

    #attraction_img,
    #attraction_img_2 {
        display: block; /* Change display to block for attraction images */
    }

    #container_box,
    #container_box_2,
    #container_box_3,
    #container_box_4 {
        padding-bottom: 50px; /* Adjust padding for container boxes */
    }

    /* Styling for reservation.html */

    .reservation-page {
        padding-top: 80px; /* Adjust padding for reservation page */
    }
}
